<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fs.chatroom.mapper.FriendMsgMapper">

    <select id="selectCurrentMsgByFriendId" resultType="com.fs.chatroom.entity.pojo.FriendMsg">
        select *
        from user_private_msg
        where (send_user_id = #{curId} and receive_user_id = #{friendId}) or
              (send_user_id = #{friendId} and receive_user_id = #{curId});
    </select>


</mapper>
